.title {
    color: #0D0D0D;
    font-weight: 700;
    font-size: 30px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    &_left {
        color:#fff;
        font-style: 36px;
        text-align: left;
    }
}